<h1>Program</h1>

<%= form_with model: @program do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :video %><br>
    <%= form.file_field :video %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.text_field :status %>
  </div>

   <div>
    <%= form.label :instructor_id %><br>
    <%= form.number_field :user_id %>
  </div>
  <div>
    <%= form.label :category_id %><br>
    <%= form.number_field :category_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

