<%= form_with model:@intructor do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div>
    <%= form.submit "create" %>
  </div>

<% end %>
