<h3 style="text-align:center"> Change Password </h3>
<h6 style="color: goldenrod;"><%= flash[:notice] %></h6>

<%= form_with url:'/change_password', method: :post do |form| %>

  <div>
    <%= form.text_field :current_password %><br>
    <%= form.label "Current Password" %>

  </div>

  <div>
    <%= form.password_field :new_password %><br>
    <%= form.label "New Password" %>
  </div>

  <div>
    <%= form.password_field :confirm_password %><br>
    <%= form.label "Confirm Password" %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>
