<h3 style="text-align:center; color: Red;"> Register Customer </h3>

<%= form_with model:current_user do |form| %>

  <div>
    <%= form.text_field :name %>
    <%= form.label :name %>
    <% current_user.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.text_field :email %>
    <%= form.label :email %>
    <% current_user.errors.full_messages_for(:email).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.password_field :password %>
    <%= form.label :password %>
    <% current_user.errors.full_messages_for(:password).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.text_field :contact %>
    <%= form.label :contact %>
    <% current_user.errors.full_messages_for(:contact).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.submit "create" %>
  </div>

<% end %>
