<h2 style="text-align: center">Welcome your portal <%= @current_user.name %></h2>

<%= flash[:notice] %><br>

<%= link_to "Programs", customers_path %><br>
<%= link_to "My Courses", enrolls_path %><br>
<%= link_to "Profile", @current_user %><br>
<%= link_to "Log Out", '/logout' %><br>


